test_suite_analysis
managed_context
exam/248715_pietro_bologna/LM/part_1/bin
exam/248715_pietro_bologna/LM/part_2/bin
exam/248715_pietro_bologna/NLU/part_1/bin
exam/248715_pietro_bologna/NLU/part_2/bin